# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


email: your-email@example.com
title: Your Name
greeting: "Hi, I'm Your Name!"
tagline: "Just a programmer"
direction: "ltr"
lang: "en"
description: >- # this means to ignore newlines until "baseurl:"
  Personal blog - A programmer sharing thoughts on software development,
  Python, and web technologies.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://yourusername.github.io" # the base hostname & protocol for your site


# Social Media (with Font Awesome icons)
social:
  - icon: fa-brands fa-github
    link: https://github.com/yourusername
    name: GitHub
  - icon: fa-brands fa-x-twitter
    link: https://twitter.com/your_twitter
    name: Twitter / X
  - icon: fa-brands fa-linkedin
    link: https://linkedin.com/in/your_linkedin
    name: LinkedIn
  - icon: fa-brands fa-telegram
    link: https://t.me/your_telegram
    name: Telegram
  - icon: fa-solid fa-envelope
    link: mailto:your.email@example.com
    name: Email

# Navigation
navigation:
  - title: Articles
    url: /articles
  - title: Tags
    url: /tags
  - title: Projects
    url: /projects
  - title: About
    url: /about

# Analytics & Tracking
google_analytics: # UA-XXXXXXXX-Y or G-XXXXXXXXXX (add your tracking ID)
# disqus_shortname: your-disqus-shortname # Uncomment to enable comments

# Pagination
pagination:
  enabled: true
  per_page: 10
  permalink: '/page/:num/'
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# Permalinks (clean URLs without .html)
permalink: /articles/:title/

# Collections (for Projects, Portfolio, etc.)
collections:
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-seo-tag

# Performance - HTML Compression
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: all
  ignore:
    envs: ['development']

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
